* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #000;
}

section {
  background-color: #ece7da;
}

section h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.container-nav {
  height: 80px;
  background-color: #464646;
}

/* SEZIONE HERO */
/* contenitore sezione */
.hero {
  min-height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
  padding: 120px 60px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .hero {
    flex-direction: column;
    padding: 60px 30px;
    gap: 40px;
  }

  .hero-text {
    flex-wrap: wrap;
  }

  .hero p {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 40px 20px;
    min-height: auto;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .hero-image img {
    width: 50vw;
  }

  .hero-text {
    flex-wrap: wrap;
  }
}

/* card */
.hero-image img {
  display: block;
  object-fit: cover;
  border-radius: 5px;
  max-width: 600px;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.225);
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
}

.hero p {
  line-height: 40px;
  margin-top: 30px;
  font-size: 1.3rem;
  max-width: 45ch;
}

/* SEZIONE CTA */

.cta {
  background: #fff;
  font-size: 1.2rem;
  min-height: 150px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cta-btn {
  font-size: 1.3rem;
  text-decoration: none;
  color: #000000;
  background-color: #55e055;
  padding: 3px 15px;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}

.cta-btn:hover {
  transform: translateY(-4px) scale(1.05);
}

/* SEZIONE DESCRIZIONE PROGETTO */
/* intestazione */

/* main contenitore sezione*/
.container-proj {
  min-height: 400px;
  width: 100%;
  padding: 0px 50px 20px;
  display: flex;
  gap: 300px;
  justify-content: center;
  align-items: center;
}

/* lista descrizione progetto */
.container-proj li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 1.4rem;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 30px;
}

/* container lista e stile elementi */
.list-element {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-direction: row;
}

.list-element i {
  font-size: 1.8rem;
}

.list-element p {
  font-weight: 400;
  font-size: 1.5rem;
}

/* SEZIONE GALLERIA */

.white {
  background-color: #fff;
  margin-bottom: 80px;
}

.container-galleria {
  width: 100%;
  min-height: 400px;
}

.container-galleria h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper-card {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.225);
}

.galleria-imgs {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

/* SEZIONE RECENSIONI */

.container-recensione {
  min-height: 400px;
  width: 100%;
  padding: 0px 50px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 150px;
}

.container-recensione article h3,
.container-recensione article blockquote p {
  text-align: center;
  margin-bottom: 20px;
}

.container-recensione article {
  max-width: 600px;
}

/* SEZIONE INCENTIVI */

.sec-incentivi {
  color: #fff;
  background-color: #003554;
}

.container-incentivi {
  min-height: 400px;
  width: 100%;
  padding: 0px 50px 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 200px;
}

.sec-incentivi h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.container-incentivi article h3,
.container-incentivi .list-element p {
  text-align: center;
}

.container-incentivi .list-element p,
.container-incentivi .list-element i {
  font-size: 1.2rem;
}

.container-incentivi article {
  max-width: 600px;
}

.container-incentivi .list-element {
  margin-bottom: 0px;
  gap: 20px;
}

section + .cta-b {
  padding: 20px 0;
  background-color: #ece7da;
}

/* FOOTER */

.container-footer {
  min-height: 400px;
  width: 100%;
  padding: 70px 50px 60px;
  background-color: rgb(76, 76, 76);
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 80px;
  font-size: 1.4rem;
}

.box-1,
.box-2,
.box-3 {
  max-width: 300px;
}
