* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #000;
}

.container-nav {
  height: 80px;
  background-color: #464646;
}

/* Sezione Hero */

.hero {
  background-color: #ece7da;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 300px;
  margin-bottom: 50px;
}

img {
  display: block;
  object-fit: cover;
  border-radius: 5px;
  max-width: 100%;
  margin-right: 50px;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.225);
}

p {
  font-size: 1.3rem;
  max-width: 45ch;
}

/* Sezione cta */

.cta {
  font-size: 1.2rem;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cta-btn {
  text-decoration: none;
  color: #000000;
  background-color: #55e055;
  
  padding: 3px 15px;
  border-radius: 15px;
}
