* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #000;
}

.container-nav {
    height: 80px;
    background-color: #464646;
}

.chi-siamo {
    background-color: #ece7da;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 300px;
    margin-bottom: 50px;
    flex-direction: column;
    gap: 20px;
}

/* sezione chi siamo */
.chi-siamo img {
    display: block;
    object-fit: cover;
    border-radius: 50%; /*maschera sferica*/
    max-width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease; /*transizione per l'hover*/
}

.chi-siamo img:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}